.background-color{background-color:blue;color: white;}
.card-title{height: 100px;overflow: hidden;}
.card-source{
    font-size: 13px;
}
.carda{background-color: navajowhite;}
.card-text{height: 200px;overflow: hidden;}